framework:
    cache:
        app: cache.adapter.redis
        default_redis_provider: '%env(REDIS_URL)%'
        pools:
            cache.weather:
                adapter: cache.app
                default_lifetime: 3600
